@font-face {
  font-family: Norse-Bold;
  src: url(../odin-form/fonts/Norse-Bold.otf);
}

h1 {
  font-family: Norse-Bold, sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.left {
  display: flex;
  justify-content: center;
  width: 50vw;
}

.right {
  display: flex;
  justify-content: center;
  width: 50vw;
}